#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.inputHolder {
  padding: 5px;
}

.inputHolder > input {
  padding: 5px;
}

button {
  margin-left: 10px;
}

.notesListHolder {
  width: 100%;
}


.notesListHolder > p {
  text-align: center;
}

ul {
  text-align: start;
}

ul > li {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 5px;
  background-color: rgba(70, 70, 70, 0.308);
  border-radius: 5px;
}

ul > li > button {
  background-color: rgb(134, 34, 34);
  border: none;
  border-radius: 5px;
}

ul > li > button:hover {
  background-color: rgb(189, 0, 0);
  transition: 0.5s;
}